$primary-background: #F1F1F1;
$primary-accent: #263669;
$secondary-accent: #FFD86E;
$tertiary-accent: #A0E4FB;
$call-to-action: #E4432F;
$main-font: 'Quicksand', sans-serif;
$fancy-font: 'EB Garamond', serif;
