@import 'mixins';
@import 'variables';
@import '~flatpickr/dist/flatpickr.css';

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

/*---------------- general ----------------*/

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------- nav ----------------*/

nav {
  height: 15%;
  width: 100%;
  background-color: $primary-accent;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

h1 {
  color: $secondary-accent;
  display: inline-block;
  margin: 1% 1%;
  font-family: $fancy-font;
  font-size: 2em;
}

.login-button {
  @include rounded-corners(5px);
  display: inline-block;
  margin: 1%;
  padding: 1%;
  font-family: $main-font;
  font-size: 1em;
  background-color: $secondary-accent;
  width: auto;
}

div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.login-menu {
  width: 20%;
  background-color: $secondary-accent;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  margin: 2%;
  font-family: $main-font;
  color: $primary-accent;
  font-size: 1.5em;
}

input {
  width: 90%;
  height: 40px;
}

.login-submit-button {
  @include rounded-corners(5px);
  width: 40%;
  height: 40px;
  background-color: $primary-accent;
  margin: 1% 1% 1% 1%;
  padding: 2.5%;
  color: $tertiary-accent;
  font-family: $main-font;
  font-size: .65em;
}

.logout-button {
  @extend .login-button;
}

.dashboard-button {
  @extend .login-button;
}

.nav-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*---------------- main ----------------*/

main {
  display: flex;
}

body {
  background-color: $primary-background;
}

.quick-look,
.operations {
  @include rounded-corners(5px);
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $tertiary-accent;
  width: 25vw;
  margin: 1%;
  height: 88vh;
  h2,
  h3 {
    color: $primary-accent;
    margin: 10px;
  }
  section {
    @include rounded-corners(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-background;
    width: 90%;
    margin: 2%;
    height: 50%;
    overflow: auto;
    text-align: center;
    padding: 2%;
    div {
      @include rounded-corners(5px)
      display: flex;
      flex-direction: column;
      background-color: $secondary-accent;
      width: 90%;
      height: 90%;
      margin: .5%;
      padding: 1%;
      h4 {
        color: $primary-accent;
        font-size: larger;
        margin: 2px;
      }
    }
  }
}

.customer-bookings {
  @include rounded-corners(5px);
  background-color: $tertiary-accent;
  width: 75vw;
  margin: 1%;
  display: flex;
  flex-direction: column;
}

.date-picker {
  @include rounded-corners(5px);
  display: inline-block;
  padding: 5px;
  margin: 5%;
}

.booking-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 1%;
}

.roomtype-dropdown {
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.booking-title {
  display: inline-block;
  margin: 1%;
  font-family: $main-font;
}