@import 'mixins';
@import 'variables';

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-background;
}

main {
  display: flex;
}

nav {
  height: 15%;
  width: 100%;
  background-color: $primary-accent;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

// .hidden {
//   display: none;
// }

h1 {
  color: $secondary-accent;
  display: inline-block;
  margin: 1% 1%;
  font-family: $heading-font;
  font-size: 2em;
}

.log-in-button {
  @include rounded-corners(7%);
  display: inline-block;
  margin: 1%;
  padding: 1%;
  font-family: $heading-font;
  font-size: 1em;
  background-color: $secondary-accent;
  width: 6%;
}

div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.log-in-menu {
  width: 20%;
  background-color: $secondary-accent;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  margin: 2%;
  font-family: $heading-font;
  color: $primary-accent;
  font-size: 1.5em;
}

input {
  width: 90%;
  height: 40px;
}

.log-in-submit-button {
  @include rounded-corners(7%);
  width: 40%;
  height: 40px;
  background-color: $primary-accent;
  margin: 1% 1% 1% 1%;
  padding: 5%;
  color: $tertiary-accent;
  font-family: $heading-font;
  font-size: .75em;
}