@import 'mixins';
@import 'variables';

.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-background;
}

header {
  display: flex;
}

nav {
  height: 15%;
  width: 100%;
  background-color: $primary-accent;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

// .hidden {
//   display: none;
// }

h1 {
  color: $secondary-accent;
  display: inline-block;
  margin: 1% 1%;
  font-family: $heading-font;
  font-size: 2em;
}

button {
  @include rounded-corners(7%);
  display: inline-block;
  margin: 1%;
  padding: 1%;
  font-family: $heading-font;
  font-size: 1em;
  background-color: $secondary-accent;
  width: 8%;
}

.log-in-menu {
  width: 10%;
  display: flex;
  justify-content: end;
}

